@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

@theme {
  /* colours */
  --color-background: oklch(0.2178 0 0);
  --color-primary: oklch(0.8399 0.1598 89.19);
  --color-gray: oklch(0.3829 0 0); 
  --color-light-heading: oklch(0.7952 0 0);
  --color-slate: oklch(0.3485 0 0);
  --color-normal: oklch(0.8853 0 0);
  --color-table-heading: oklch(0.5032 0 0);
  --color-problem-easy: oklch(0.7411 0.0754 185.83);
  --color-problem-medium: oklch(0.8399 0.1598 89.19);
  --color-problem-hard: oklch(0.6421 0.21456 37.0754);
  --color-sidebar-main: oklch(0.2435 0 0);
  --color-yellow: oklch(0.8399 0.1598 89.19);
  --color-turqoise: oklch(0.7449 0.1047 180.18);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #1A1A1A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-background;
  margin: 0;
  display: block;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

button {
  font-family: inherit;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #1A1A1A;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.font-h2 {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}